extends layout

block content
 div(id="tokenExpiredError")=error 
 input(type="hidden" name="finalValue" id="finalValue")
 form(class="message-form")
    div(id="reset", title="Refresh Login")
        span.icon-container(style="background-color: #ffcc00; padding: 5px; border-radius: 50%;")
         i.fas.fa-redo-alt(style="font-size: 24px; color: white;")
    div(id="fromvalidationerror")
    div(class="expansive-button v1")
     h3 Enter Mobile Number (with country code)
      span(style="float:right;margin-right:5px") 
       i(class="fa fa-angle-up")
    div(class="expansive number")
     div(class="inputdiv")
      label(for="from") From :
      input(type="text"   name="from" id="from" class="from")
     div(class="inputdiv")
      label(for="to") To :
      input(type="text"  name="to" id="to" class="to")
    br
    div(class="expansive-button v2")
     div Choose Message Template
      span(style="float:right;margin-right:5px") 
       i(class="fa fa-angle-down")
    div(class="expansive templates")
     each datas in data
       div(class="message-div")
         input(type="radio", name="template", class="template"  value=datas, id=datas.wabaId)
         label(for=datas.wabaId)= datas.content
     ul(id="pagin")
    br
    input(type="submit" value="Next")


 
 div(class="modal-wrapper")
  div(class="modal")
   div(class="head")
     a(class="btn-close trigger" href="javascript:;")
   div(class="content")
     h6 Message Template : 
     p(id="templateDiv")
     br
     form(class="modalForm")

 div(class="settings-wrapper")
  div(class="modal")
   div(class="head")
     a(class="btn-close trigger-settings" href="javascript:;")
   div(class="content")
      input(name="from" type="text" id="from" placeholder="FROM Mobile No.")
      button(class="done") Done

 div(class="redirect")
  a(href="/login") Back to Login
      