<!DOCTYPE html>
<html>
  <head>
    <title>Login Screen</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" type="text/css" href="styles/login.css" />
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
      <div class="row">
        <label for="username">Username *</label>
        <input
          type="text"
          name="username"
          autocomplete="off"
          required
          placeholder="Enter Username"
        />
      </div>
      <div class="row">
        <label for="password">Password *</label>
        <input
          type="password"
          name="password"
          id="password"
          required
          placeholder="Enter Password"
        />
        <input
          type="hidden"
          name="id"
          value="514007099"
        />
      </div>
      <button type="submit">Login</button>
      
    </form>


  </body>
</html>
