doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/salesforce-lightning-design-system.min.css')
    link(rel='stylesheet', href='/styles/custom.css')
    link(rel='stylesheet', href='/styles/login.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    script(src="javascript/libs/jquery.min.js")
    script(src="javascript/libs/jquery.validate.min.js")
    script(src="javascript/libs/postmonger.js")
    script(src="javascript/customActivity.js")
    script(src="javascript/pagination.js")
  body
    block content
