extends successLayout

block content
  //- p(class="success") Message Sent Successfully !!

  p(class="success") Message to be sent
  br
  div(class="message")= message
  //- input(id="messageTemplate" type="hidden" value=messageTemplate)
  br
  //- a(href="/dashboard") Back to Home
  