extends successLayout

block content
  input(type="hidden" name="finalValue" id="finalValue")
  //- p(class="success") Message Sent Successfully !!

  p(class="success") Message Configured Successfully !!
  br
  //- div(class="message")= message
  //- input(id="messageTemplate" type="hidden" value=messageTemplate)
  br
  //- a(href="/dashboard") Back to Home
  